
.banner__bottom{
    padding-top: 180px;
    margin-bottom: 200px;
}

.work h2{
    font-size: 48px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-top: 147px;
    
}
.work p{
    font-size: 40px;
    font-style: italic;
    width: 900px;
    margin: 0 auto;
    padding-top: 40px;
}