@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.about__child{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.about{
    margin-bottom: 200px;
}
.child__text{
    width: 500px;
}
.child__text h1{
    font-family: 'Gotham Black', sans-serif;
}
.child__text p{
    font-family: 'Quicksand', sans-serif;
    width: 500px;
    font-size: 24px;
}
.child__text p span{
    background: linear-gradient(90deg, #FA709A 0%, #FEE140 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 700;
}

.purple{
    width: 90%;
    height: 180px;
    margin: 0 auto;
    border-radius: 15px;
    background: rgba(168, 127, 243, 1);
    display: flex;
    align-items: center;
    gap: 50px;
}
.purple__img img{
    transform: translateY(-85px);
}

.purple__text p{
    font-weight: 600;
    font-size: 20px;
}